<%- include("partials/header") -%>
<h1>Home</h1>
<p> <%= home %></p>
    <% posts.forEach(function(foundItem) {  %>
        <h1> <%= foundItem.title %> </h1>
        <% const newPara = foundItem.content.substring(0, 100) %>
        <p> <%= newPara %> ...<a href="/posts/<%= foundItem.title %>">Read more</a></p>
    <%  })  %>
<%- include("partials/footer") -%>